* {
    box-sizing: border-box;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 40px;
    text-decoration: none;
    margin: 30px 0;
}

.separador {
    font-weight: bold;
    background-color:  #f8df95;
    border: 10px solid #f8df95
}

/*estilo de la barra de navegacion*/
#logo {
    height: 100px;
    width: 100px;


}

.navbar {
    padding-bottom: .5rem;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #f9bd0e;
    color: #454242;
}

.brand-title {
    display: flex;
    font-size: 1.5rem;
    margin: .5rem;
    margin-top: 1rem;
    align-items: center;
}

h1 {
    font-size: 40px;
    margin-left: 5px;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    margin-top: 1rem;

}

.navbar-links li a {
    display: block;
    font-weight: bold;
    font-size: 25px;
    color: #454242;
    padding: 1rem;
    text-decoration: underline;
}

.navbar-links li:hover {
    background-color: #f8df95;


}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


/*Productos Destacados*/
.carousel-item img {
    height: 500px;
    text-align: center;

}

.carousel-inner {
    background-color: #6715b0;
    max-height: 500px;
    margin-bottom: 20px;
}

#destacado {
    grid-template-columns: 500px 500px;
    grid-template-rows: 420px 420px;
    margin-top: 30px;

}

#destacado .prod {
    border: none;
}

#destacado .precios {
    margin: 0;
    display:inline;
}

#sindecs {
    font-size: medium;
    text-align: left;
    color: rgb(97, 97, 97);
    font-weight: 500;
    text-decoration: line-through;
}

#off {
    font-size: large;
    display:inline;
    color: rgb(42, 205, 58);
    font-weight: 500;

}

.popupD {
    width: 450px;
    background-color:#f8df95;
    border-radius: 6px;
    position: absolute;
    text-align: center;
    padding: 0 30px 30px;
    color: black;
    visibility: hidden;
    border:2px solid black;
    top: 1px;
}

.popupD button {
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 10px;

}

.popupD h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 20px 0 10px;
}

.popupD h3 {
    text-align: left;
    font-size: 22px;
    margin: 15px 0 10px; 
    font-weight: 570;
    
}

/* Todos los productos */ 

.contenedor {
    margin: 50px auto;
    font-size: 30px;
    display: grid;
    gap: 12px 12px;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 450px 450px 450px 450px 450px;
    justify-content: center;
}

.contenedor .prod {
    background:antiquewhite;
    padding: 5px;
    height: auto;
    line-height: 25px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    float: left;
}
.prod img {
    max-width: 250px;
    height: 225px;
}
.prod .precios {
    font-size: larger;
    text-align: left;
    color: rgb(66, 55, 191);
    font-weight: 1000;
}
.cuotas {
    font-size: 20px;
    text-align: left;
    color: rgb(0, 0, 0);
    margin-left: 10px;
}

.prod h6 {
    color: rgb(66, 55, 191);
}

/*Popup Ver Más */
.info {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    padding: 10px 60px;
    background-color: #f9bd0e;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px; 
    font-weight: 500;
    border-radius: 30px;
}
.btn:hover {
    background-color: #f8df95;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: 1px solid rgb(102, 102, 102);
}
.popup {
    width: 400px;
    background-color:#f8df95;
    border-radius: 6px;
    position: absolute;
    text-align: center;
    padding: 0 30px 30px;
    color: black;
    visibility: hidden;
    border:2px solid black
}

.open-popup{
    visibility: visible;
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 20px 0 10px;
}

.desc {
    text-align: left;
    font-size: 20px;
    margin: 15px 0 10px
}

.popup h3 {
    text-align: left;
    font-size: 22px;
    margin: 15px 0 10px; 
    font-weight: 570;
    
}

.cant {
    border: 1px solid black;
    padding: 2px;
    width: 75px;
    text-align: center;
    float: right;
    font-size: 22px;

}
label {
    font-size: 22px;
    font-weight: 570;
    float: left;
    margin-top: 8px;

  }

.popup button {
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 10px;

}
.aggc {
    background-color:  rgb(135, 222, 190);
    filter: brightness(0.9);

}

.cancel {
    background-color: #cac7c7;
    filter: brightness(0.9);
}

.aggc:hover, .cancel:hover {
    filter: brightness(1);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: 1px solid rgb(102, 102, 102);
}


/* Macotas mostradas */

.fotos img {
    display:block;
    margin: 20px;
    max-height: 250px;
    max-width: 350px;
    min-height: 20%;
    min-width: 20%;    
}

#mascotas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#mascotas p {
    margin: 0;
    display:inline;
}
/* Carrito */
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.carrito-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
}

/* Add styles to the form container */
.contendorCarrito {
  max-width: 300px;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px
}


/* Set a style for the submit/login button */
.contendorCarrito .btn {
  background-color: rgb(135, 222, 190);
  filter: brightness(0.9);
  color: rgb(0, 0, 0);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  filter: brightness(0.9)
}


#limpiar {
    background-color: rgb(251, 120, 120);
    filter: brightness(0.9)
}
#cerrar {
    background-color: #cac7c7;
    filter: brightness(0.9);
}

/* Add some hover effects to buttons */
.btn:hover, .open-button:hover {
  opacity: 1;
  filter: brightness(1);
  border: 1px solid rgb(102, 102, 102);
}

#cerrar:hover, #limpiar:hover {
    filter: brightness(1);
}


/*Cosas del general*/
/*estilos del pie de pagina*/






@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;

    }

    .navbar-links ul li a {
        padding: .5rem 1rem;

    }

    .navbar-links.active {
        display: flex;
    }
}


@media (max-width: 400px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links a {
        flex-direction: column;

    }
}