* {
    box-sizing: border-box;
}


/*Destacados */
.thumbnail{
    width: 70%;
    height: 60%;
    border: 2px solid black;
}


.carousel-inner {
    background-color: #f8df95;
    margin-bottom: 10px;
}

.tarjeta_content {
    font-size: 15px;
    width: 60%;

}

.precio {
    font-size: 25px;
    float: right;
    padding-left: 70%;
}

figure {
    position: center;
    display: block;
    width: 60%;
    height: auto;
}

figure img {
    display: block;
    width: 100%;
    height: 100%;
    
}


.tarjeta {
    margin-bottom: 2em;
    margin-top: 2em;
    width: 32%;
    
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10%;
    
}

/*background-color: blanchedalmond;
border: 1px solid #f8df95;
#f9bd0e
    background-color: rgb(192, 215, 236);
    border: 1px solid #CCAFF9

/* Todos los productos */ 

.contenedor {
    margin: 50px auto;
    font-size: 30px;
    display: grid;
    /*grid-template: 1fr 1fr 1fr 1fr/1fr 1fr 1fr 1fr 1fr;*/
    gap: 12px 12px;

    grid-template-columns: auto auto auto auto;
    grid-template-rows: 515px;
    justify-content: center;
}

.contenedor .prod {
    background:antiquewhite;
    padding: 5px;
    height: auto;
    line-height: 25px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    float: left;
}

.prod .precios {
    font-size: larger;
    text-align: left;
    color: rgb(66, 55, 191);
    font-weight: 1000;
}
.cuotas {
    font-size: 20px;
    text-align: left;
    color: rgb(0, 0, 0);
    margin-left: 10px;
}

.prod h6 {
    color: rgb(66, 55, 191);
}

/*Más Info*/
.info {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    padding: 10px 60px;
    background-color: #f9bd0e;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px; 
    font-weight: 500;
    border-radius: 30px;
}
.btn:hover {
    background-color: #f8df95;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: 1px solid rgb(102, 102, 102);
}
.popup {
    width: 400px;
    background-color:#f8df95;
    border-radius: 6px;
    position: absolute;
    text-align: center;
    padding: 0 30px 30px;
    color: black;
    visibility: hidden;
    border:2px solid black
}

.open-popup{
    visibility: visible;
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 20px 0 10px;
}

.desc {
    text-align: left;
    font-size: 20px;
    margin: 15px 0 10px
}

.popup h3 {
    text-align: left;
    font-size: 22px;
    margin: 15px 0 10px; 
    text-decoration: none;
    font-weight: 570;
}

.cant {
    border: 1px solid black;
    padding: 2px;
    width: 75px;
    text-align: center;
    float: right;
    font-size: 22px;

}
label {
    font-size: 22px;
    font-weight: 570;
    float: left;
    margin-top: 8px;

  }

.popup button {
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 10px;

}
.aggc {
    background-color:  rgb(135, 222, 190);
    filter: brightness(0.9);

}

.cancel {
    background-color: #cac7c7;
    filter: brightness(0.9);
}

.aggc:hover, .cancel:hover {
    filter: brightness(1);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: 1px solid rgb(102, 102, 102);
}


/* Carrito */
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.carrito-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px
}


/* Set a style for the submit/login button */
.form-container .btn {
  background-color: rgb(135, 222, 190);
  filter: brightness(0.9);
  color: rgb(0, 0, 0);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  filter: brightness(0.9)
}


#limpiar {
    background-color: rgb(251, 120, 120);
    filter: brightness(0.9)
}
#cerrar {
    background-color: #cac7c7;
    filter: brightness(0.9);
}

/* Add some hover effects to buttons */
.btn:hover, .open-button:hover {
  opacity: 1;
  filter: brightness(1);
  border: 1px solid rgb(102, 102, 102);
}

#cerrar:hover, #limpiar:hover {
    filter: brightness(1);
}